@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

/* Evitar overflow horizontal */
html, body {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Garantir que o conteúdo não ultrapasse os limites da tela */
.container {
    max-width: 100%;
    overflow: hidden;
}

/* Estilo global para a seleção de texto */
::selection {
    background-color: #1E293B; /* Cor quase preta (escuro) */
    color: #ffffff; /* Texto branco para contraste */
  }
  
  /* Para navegadores baseados em WebKit (como Chrome e Safari) */
  ::-webkit-selection {
    background-color: #1E293B;
    color: #ffffff;
  }
  
  /* Para navegadores baseados em Mozilla (como Firefox) */
  ::-moz-selection {
    background-color: #1E293B;
    color: #ffffff;
  }