@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evitar overflow horizontal */
html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Garantir que o conteúdo não ultrapasse os limites da tela */
.container {
    max-width: 100%;
    overflow: hidden;
}